html {
    scroll-behavior: smooth;
}

body {
    display:flex; 
    align-items:center; 
    justify-content:center; 
    margin:0;
}

h1 {
    text-align:center; 
    color:green; 
    font-family: Arial, sans-serif; 
    font-size: 60px;
}

h2 {
    text-align:center;  
    font-family: Arial, sans-serif; 
    font-size: 20px;
}

h3 {
    text-align:center; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

h4 {
    text-align:center; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

button {
    background-color:rgb(35, 137, 35); 
    color:white; padding:12px 40px; 
    text-align: center; font-size:20px; 
    border: none;
}

button:hover {
    background-color: rgb(9, 62, 9);
    color:white; padding:12px 40px; 
    text-align: center; font-size:20px; 
    border: none;
}

.inputButton{
    background-color:rgb(35, 137, 35); 
    color:white; 
    padding:12px 60px; 
    text-align: center; 
    font-size:20px; 
    border: none;
    font-weight: bold;
}

.inputButton:hover {
    background-color:rgb(9, 62, 9); 
    color:white; 
    padding:12px 60px; 
    text-align: center; 
    font-size:20px; 
    border: none;
    font-weight: bold;
}

ul {
    list-style:none; 
    display:flex; 
    text-align:center; 
    justify-content:space-between; 
    padding:0; 
    margin:5%;
}

p {
    text-align:justify; 
    font-family: Arial, Helvetica, sans-serif; 
    padding:auto; 
    font-size: auto;
}

.topdiv {
    width:100%; 
    text-align:center; 
    line-height:1.2em;
}

.middiv {
    background-color:lightgrey; 
    text-align:center; 
    padding:2% 8%; 
    resize: none;
}

.botdiv {
    text-align:center;
    padding: 0% 40%; 
    margin: 4%;
}

.sucbotdiv {
    text-align:center; 
    padding:0% 1%; 
    margin:8%; 
    resize: none;
}

#submit_successful {
    display: none;
}

#submit_successful.show {
    display: block;
}